/**
 * Site header
 */
.site-header {
    border-top: 3px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-logo {
	max-height: 60px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.site-title {
    font-size: $base-4-font-size;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
	margin-top: 10px;
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
	
	p {
		margin-bottom: 0;
	}
}

.footer-heading {
    font-size: $base-2-font-size;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: $base-0-font-size;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
	// Originally 35%
}

.footer-col-2 {
	text-align: center;
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
	// Originally 20%
}

.footer-col-3 {
	text-align: right;
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
	// Originally 45%
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: $base-3-font-size;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $base-0-font-size;
    color: $grey-color;
	margin-top: -12px;
}

.post-link {
    display: block;
}



/**
 * Posts
 */

.index-post {
    // Gaps between posts, but not on the last one
	&:not(:last-child) {
		margin-bottom: 60px;
	}
}

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: $base-5-font-size;
    letter-spacing: -1px;
    line-height: 1.1;

    @include media-query($on-laptop) {
        font-size: $base-4-font-size;
    }
}

.post-content {
    font-family: $post-font-family;
    margin-bottom: $spacing-unit;

    h1 {
        font-size: $base-4-font-size;

        @include media-query($on-laptop) {
            font-size: $base-3-font-size;
        }
    }

    h2 {
        font-size: $base-3-font-size;

        @include media-query($on-laptop) {
            font-size: $base-2-font-size;
        }
    }

    h3 {
        font-size: $base-2-font-size;

        @include media-query($on-laptop) {
            font-size: $base-font-size;
        }
    }

    h4 {
        font-size: $base-font-size;

        @include media-query($on-laptop) {
            font-size: $base-0-font-size;
        }
    }
}



/**
 * Gallery
 */

#gallerycontainer {
	text-align: center;
}

.gallerylist {
	list-style: none;
	font-size: 0px;
	margin: 0;
}

.galleryitem {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2% 2%;
	background: #fff;
	border: 1px solid #ddd;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.galleryimage {
	height: 184px;
	width: 184px;
}



/**
 * Index of Posts
 */

.post-list-index {
	list-style: none;
	margin-top: 20px;
	margin-left: 0;
}

.post-single {
	&:not(:last-child) {
		margin-bottom: 10px;
	}
}

.post-single-meta {
    font-size: $base-0-font-size;
    color: $grey-color;
	margin-right: 10px;
}

.post-single-title {
    font-size: $base-2-font-size;
    color: $grey-color-dark;
}